//Colors
$theme-colors: (
        color1: #231F6F,
        color2: #EC1C24,
        color3: #FFAA00
);

$default-theme-color: map_get($theme-colors, color1);
$default-reverse-color: map_get($theme-colors, color2);
$default-compare-color: map_get($theme-colors, color3);

$default-link-color: $default-theme-color;
$default-link-hover-color: $default-compare-color;

//Typography
$default-font-size: 15px;
$default-line-height: 29px;
$default-font-weight: 300;
$default-font-color: darken(grey, 15%);
$default-heading-color: darken(grey, 10%);

//Components//

//Grid News
$grid-news-border-hover: #cccccc;
$grid-news-text-hover: #000000;

//Clients
$clients-bg-color: #F2F2F2;
$clients-grid-border-color: #ebebeb;
$clients-grid-bg-color: #ffffff;

//Featured Box
$featured-box-link-color: #ffffff;
$featured-box-link-hover: $default-compare-color;
$featured-box-first-bg-color: $default-theme-color;
$featured-box-second-bg-color: darken(#F4F2EB, 10%);
$featured-box-icon-color: #ffffff !important;
$featured-box-txt-color: #ffffff !important;
$featured-box-overlay-hover-opacity: 0.25;
$featured-box-overlay-opacity: 0.4;

//News Announcement
$announcement-slider-bg-color: lighten(grey, 45%);
$announcement-slider-border-color: #ccc;
$announcement-slider-txt-color: darken(grey, 20%) !important;
$news-slider-bg-color: $announcement-slider-bg-color;
$news-slider-txt-color: darken(grey, 20%) !important;

//Header
$topbar-bg-color: #ffffff;
$topbar-txt-color: #ffffff;
$topbar-link-color: #3D464F;
$topbar-link-hover: $default-compare-color;
$topbar-social-color: #3D464F;
$topbar-social-hover-color: $default-compare-color;

$topbar-ticker-strong-title: $topbar-link-hover;
$topbar-ticker-title-color: $topbar-txt-color;
$topbar-ticker-control-color: $topbar-txt-color;
$topbar-ticker-control-hover-color: $topbar-link-hover;

$quick-menu-bg-color: #F4F2EB;
$quick-menu-link-color: #3D464F;

//Menu
$menu-font-weight: 500;
$menu-font-size: 15px;
$menu-icon-left-size: 4px;
$menu-link-hover-color: $default-theme-color;
$menu-border-bottom-color: $default-theme-color;
$menu-dropdown-hover-color: $default-reverse-color;
$menu-dropdown-border-color: $default-reverse-color;
$menu-dropdown-padding: 6px 20px;
$menu-dropdown-icon-top-height: 6px;

//Breadcrumb
$breadcrumb-link-color: #ffffff;
$breadcrumb-link-hover: $default-compare-color;

//Footer
$footer-bg-color: #F4F2EB;
$footer-txt-color: #3D464F;
$footer-link-color: #3D464F;
$footer-link-hover: $default-compare-color;
$footer-title-color: #1A77D5;
$footer-link-icon-color: #1A77D5;
$footer-link-line-height: 18px;
$footer-link-line-icon-height: -3px;

$footer-address-color: #3D464F;
$footer-address-ticker-hover-color: #3D464F !important;
$footer-address-ticker-color: #3D464F !important;

$footer-social-link-bg-hover: #1A77D5;
$footer-social-link-color: #1A77D5;
$footer-social-link-hover: #1A77D5 !important;
$footer-social-link-hover-txt: $default-theme-color;

//Footer Second
$second-footer-bg-color: $footer-bg-color;
$second-footer-link-color: $footer-txt-color;
$footer-link-color: #3D464F !important;
$second-footer-link-hover: $default-compare-color;
$second-footer-social-link-color: #3D464F;
$second-footer-social-link-hover: $default-theme-color;

//Back To Top
$back-to-top-bg-color: $topbar-bg-color;
$back-to-top-txt-color: #ffffff !important;
$back-to-top-hover-color: $default-reverse-color;

//Forms
$button-color: $default-theme-color;
$link-color: $default-theme-color;

$input-border-color: $default-theme-color;
$input-box-shadow-color: $default-theme-color;
$input-txt-color: $default-theme-color;

//Search
$search-bg-color: $default-theme-color;
$search-icon-hover-color: $default-reverse-color;

//Widgets
$blog-widget-categories-title-bg: $topbar-bg-color;
$blog-widget-categories-title: #ffffff;
$blog-widget-categories-bg: $default-theme-color;
$blog-widget-categories-border-color: darken($blog-widget-categories-bg, 10%);
$blog-widget-categories-link-hover: $default-compare-color;
$blog-widget-categories-link-color: #ffffff;
$blog-widget-categories-icon-color: $default-compare-color;
$blog-widget-categories-icon-hover: $default-compare-color;
$blog-widget-categories-font-weight: 500;

