//Colors
$theme-colors: (
        color1: #231F6F,
        color2: #EC1C24
);

$default-theme-color: map_get($theme-colors, color1);
$default-reverse-color: map_get($theme-colors, color2);

$default-link-color: $default-theme-color;
$default-link-hover-color: $default-compare-color;

//Components//

//Grid News
$grid-news-border-hover: #cccccc;
$grid-news-text-hover: #000000;

//Clients
$clients-bg-color: lighten(#cccccc, 15%);
$clients-grid-border-color: #ebebeb;
$clients-grid-bg-color: #ffffff;

//Featured Box
$featured-box-link-color: #ffffff;
$featured-box-link-hover: $default-compare-color;
$featured-box-first-bg-color: darken(mix($default-theme-color, grey, 60%), 20%);
$featured-box-second-bg-color: $featured-box-first-bg-color;
$featured-box-icon-color: #ffffff !important;
$featured-box-txt-color: #ffffff !important;
$featured-box-overlay-hover-opacity: 0.25;
$featured-box-overlay-opacity: 0.5;

//News Announcement
$announcement-slider-bg-color: lighten(grey, 45%);
$announcement-slider-border-color: #ccc;
$announcement-slider-txt-color: darken(grey, 20%) !important;
$news-slider-bg-color: $announcement-slider-bg-color;
$news-slider-txt-color: darken(grey, 20%) !important;

//Header
$topbar-bg-color: lighten(grey, 45%);
$topbar-txt-color: #4c5b6a;
$topbar-link-color: #4c5b6a;
$topbar-link-hover: $default-compare-color;
$topbar-social-color: $default-theme-color;
$topbar-social-hover-color: $default-reverse-color;

$topbar-ticker-strong-title: $default-theme-color;
$topbar-ticker-title-color: darken(grey, 20%);
$topbar-ticker-control-color: $topbar-ticker-title-color;
$topbar-ticker-control-hover-color: $topbar-ticker-title-color;

$quick-menu-bg-color: $topbar-bg-color;
$quick-menu-link-color: $default-theme-color;

//Menu
$menu-link-hover-color: $default-theme-color;
$menu-border-bottom-color: $default-theme-color;
$menu-dropdown-hover-color: $default-reverse-color;
$menu-dropdown-border-color: $default-reverse-color;

//Breadcrumb
$breadcrumb-link-color: $default-theme-color;
$breadcrumb-link-hover: $default-reverse-color;

//Footer
$footer-bg-color: #ffffff;
$footer-txt-color: darken(grey, 20%);
$footer-link-color: darken(grey, 20%);
$footer-link-hover: $default-reverse-color;
$footer-title-color: $footer-txt-color;
$footer-link-icon-color: $footer-txt-color;
$footer-link-line-height: 25px;
$footer-link-line-icon-height: -7px;

$footer-address-ticker-hover-color: $default-theme-color !important;
$footer-address-ticker-color: $default-reverse-color !important;

$footer-social-link-bg-hover: $default-theme-color;
$footer-social-link-color: $default-theme-color;
$footer-social-link-hover: $default-reverse-color !important;
$footer-social-link-hover-txt: #ffffff;

//Footer Second
$second-footer-bg-color: $topbar-bg-color;
$second-footer-txt-color: $footer-txt-color !important;
$second-footer-link-color: $footer-txt-color !important;
$second-footer-link-hover: $default-reverse-color;
$second-footer-social-link-color: $default-theme-color;
$second-footer-social-link-hover: #ffffff;

//Back To Top
$back-to-top-bg-color: lighten(grey, 30%);
$back-to-top-txt-color: $footer-txt-color !important;
$back-to-top-hover-color: lighten(grey, 20%);

//Forms
$button-color: $default-theme-color;
$link-color: $default-theme-color;

$input-border-color: $default-theme-color;
$input-box-shadow-color: $default-theme-color;
$input-txt-color: $default-theme-color;

//Search
$search-bg-color: $default-theme-color;
$search-icon-hover-color: $default-reverse-color;

