/*
Comments Tab
-------------------------------------------------------*/
.comments-tab .nav-tabs > li > a {
  padding: 17px 30px;
}

.comments-tab .nav-tabs > li > a,
.comments-tab .nav-tabs.nav-justified > li > a {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px;
  background: transparent;
}

.comments-tab .nav-tabs > li.active > a,
.comments-tab .nav-tabs > li.active > a:focus,
.comments-tab .nav-tabs > li.active > a:hover,
.comments-tab .nav-tabs.nav-justified > .active > a,
.comments-tab .nav-tabs.nav-justified > .active > a:focus,
.comments-tab .nav-tabs.nav-justified > .active > a:hover {
  color: #fff;
  background-color: #03a9f4;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.comments-tab .panel-body {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .comments-tab .panel-body {
    padding: 30px;
  }
  .tt-popular-post {
    border: 1px solid transparent;
  }
}

.comments-tab input[type=text],
.comments-tab input[type=email],
.comments-tab input[type=url] {
  border: 1px solid #eee;
  height: 60px;
  font-size: 14px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.comments-tab input[type=text]:focus:not([readonly]),
.comments-tab input[type=email]:focus:not([readonly]),
.comments-tab input[type=url]:focus:not([readonly]),
.comments-tab textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-color: #03a9f4;
}

.comments-tab .form-control {
  box-shadow: none;
  border: 1px solid #eee;
}

.comments-tab .form-control:focus {
  border-color: #03a9f4;
}

.comments-tab textarea {
  padding: 12px;
}

.comments-tab .form-submit {
  text-align: right;
}

.comments-tab .form-submit .btn-lg {
  font-weight: 700;
}

.comment-list .media-left {
  padding-right: 25px;
}

.comment-list .media-left img {
  width: 70px;
  height: 70px;
  border-radius: 3px;
}

.comment-info {
  position: relative;
}

.comment-info h4 {
  font-size: 18px;
  color: #ed145b;
  font-weight: 700;
}

.comment-meta {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

@media (max-width: 550px) {
  .comment-meta {
    top: 22px;
    right: auto;
    font-size: 10px;
  }
}

.comment-meta a {
  display: inline-block;
  color: #ed145b;
}

.comment-meta a:hover {
  color: #202020;
}

.comment-meta a:last-of-type {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

.comment-meta a:last-of-type::before {
  content: "";
  background-color: #ed145b;
  height: 16px;
  width: 2px;
  position: absolute;
  left: 0;
  top: 0;
}

.comment-list .media-body p {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}