/*
Grid Blog Style
----------------------------------------------------*/
.grid-news .post-wrapper {
  padding: 0;
  border: 0;
  margin-bottom: 30px;
}

.grid-news .thumb-wrapper {
  margin: 0;
}

.grid-news .blog-content {
  padding: 20px 25px 15px;
  border: 1px solid #eee;
}

.grid-news .post-wrapper:hover .blog-content {
  border: 1px solid transparent;
}

.grid-news .entry-header {
  position: relative;
  margin-bottom: 36px;
}

.grid-news .entry-header::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #e040fb;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.grid-news .entry-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

.grid-news .entry-title a {
  color: #202020;
}

.grid-news .entry-title a:hover {
  color: #03a9f4;
}

.grid-news .entry-meta li {
  font-size: 12px;
}

.grid-news .entry-footer {
  margin-left: -20px;
  margin-right: -20px;
  font-size: 13px;
  line-height: 20px;
  padding: 15px 20px 0;
}

.grid-news .entry-footer ul {
  margin-bottom: 0;
}

.grid-news .entry-footer ul li a,
.grid-news .entry-footer a.readmore {
  color: #919191;
}

.grid-news .entry-footer ul li a:hover,
.grid-news .entry-footer a.readmore:hover {
  color: #03a9f4;
}

.grid-news .entry-footer ul li a i {
  margin-right: 5px;
}
