/*
Popular/Rrecent Post Tab Widget
--------------------------------------------------------*/
.tt-popular-post {
  border: 1px solid #eee;
}

.tt-popular-post .tab-content {
  padding: 30px 20px;
}

.tt-popular-post.border-bottom-tab .nav-tabs > li > a,
.tt-popular-post.border-bottom-tab .nav-tabs.nav-justified > li > a {
  padding: 17px 30px;
  font-weight: 700;
}

.tt-popular-post .media {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.tt-popular-post .media:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

.tt-popular-post .media img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tt-popular-post .media-body {
  vertical-align: middle;
}

.tt-popular-post .media .media-left {
  padding-right: 15px;
}

.tt-popular-post .media-body h4 {
  font-size: 15px;
  margin-bottom: 0;
}

.tt-popular-post .media-body h4 a {
  color: #999;
}

.tt-popular-post .media-body h4 a:hover {
  color: #03a9f4;
}
