/*device-mockup*/
.device-mockup {
  position: relative;
  width: 100%;
  padding-bottom: 61.775701%;
}
.device-mockup > .device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-image: url("assets/img/device-mockups/macbook.png");
}

.device-mockup > .device > .screen {
  background-color: #000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 11.0438729%;
  bottom: 14.6747352%;
  left: 13.364486%;
  right: 13.364486%;
  overflow: hidden;
}


.device-mockup[data-device="ipad"],
.device-mockup[data-device="ipad"][data-orientation="portrait"] {
  padding-bottom: 128.406276%;
}
.device-mockup[data-device="ipad"][data-orientation="landscape"] {
  padding-bottom: 79.9086758%;
}
.device-mockup[data-device="ipad"] > .device,
.device-mockup[data-device="ipad"][data-color="black"] > .device,
.device-mockup[data-device="ipad"][data-orientation="portrait"][data-color="black"] > .device {
  background-image: url("assets/img/device-mockups/ipad_port_black.png");
}
.device-mockup[data-device="ipad"][data-color="white"] > .device,
.device-mockup[data-device="ipad"][data-orientation="portrait"][data-color="white"] > .device {
  background-image: url("assets/img/device-mockups/ipad_port_white.png");
}
.device-mockup[data-device="ipad"][data-orientation='landscape'] > .device,
.device-mockup[data-device="ipad"][data-orientation="landscape"][data-color="black"] > .device {
  background-image: url("assets/img/device-mockups/ipad_land_black.png");
}
.device-mockup[data-device="ipad"][data-orientation="landscape"][data-color="white"] > .device {
  background-image: url("assets/img/device-mockups/ipad_land_white.png");
}
.device-mockup[data-device="ipad"] > .device > .screen,
.device-mockup[data-device="ipad"][data-orientation="portrait"] > .device > .screen {
  top: 12.025723%;
  bottom: 12.154341%;
  left: 13.45995%;
  right: 13.45995%;
}
.device-mockup[data-device="ipad"][data-orientation="landscape"] > .device > .screen {
  top: 13.87755102%;
  bottom: 13.87755102%;
  left: 11.5459883%;
  right: 11.5459883%;
}