/*
Gallery Thumb
-----------------------------------------------------*/
.gallery-thumb .flex-viewport li img {
  width: 100%;
}
.gallery-thumb .flex-control-thumbs {
  margin: -35px 0 0;
}

.gallery-thumb .flex-control-thumbs li {
  width: 70px;
  float: none;
  margin: 0 5px;
}

.gallery-thumb .flex-control-thumbs img {
  width: 70px;
  height: 70px!important;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  opacity: 1;
  z-index: 100;
  position: relative;
}

.gallery-thumb .flex-direction-nav a {
  opacity: 1;
  top: auto;
  bottom: 45px;
  text-align: center;
}
.gallery-thumb .flex-direction-nav .flex-prev {
  left: 15px;
}
.gallery-thumb .flex-direction-nav .flex-next {
  right: 15px;
}
.gallery-thumb  .flex-direction-nav a.flex-prev::before,
.gallery-thumb  .flex-direction-nav a.flex-next::before {
  font-family: 'Material Icons';
  font-size: 20px;
  color: #fff;
}
.gallery-thumb  .flex-direction-nav a.flex-prev::before {
  content: 'arrow_back';
}
.gallery-thumb  .flex-direction-nav a.flex-next::before {
  content: 'arrow_forward';
}


@media screen and (max-width: 370px){
  .gallery-thumb .flex-control-thumbs li {
    width: 50px;
  }

  .gallery-thumb .flex-control-thumbs img {
    width: 50px;
    height: 50px!important;
  }

}