/*Author Wrapper*/
.profile .author-cover {
  position: relative;
}
.profile .author-cover img{
  width: 100%;
}
.author-wrapper.profile .author-avatar {
  position: relative;
  padding: 15px 20px 30px 130px;
}
.author-wrapper.profile .author-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: -30px;
  left: 15px;
  z-index: 20;
}

.profile .author-meta {
  padding: 0 40px;
  overflow: hidden;
}
.profile .author-meta li {
  margin: 10px 0;
  font-weight: 500;
}
.profile .author-meta li .title {
  display: inline-block;
  width: 135px;
  color: #202020;
}
.profile .author-meta li .address {
  float: right;
  width: 50%;
}
.profile .available {
  display: block;
  padding: 10px;
  text-align: center;
}
.profile .available a{
  display: inline-block;
  color: #999;
}
.profile .available a:hover{
  color: #03a9f4;
}

@media screen and (max-width: 991px) {
  .author-wrapper.profile {
    margin-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .box-padding .cta-button .btn {
    display: block;
    margin-top: 10px;
  }
  .profile .author-meta li .title {
    width: 80px;
  }
  .profile .author-meta li .address {
    width: 60%;
  }

}
