.announcement {
  h3.title {
    background-color: $announcement-slider-bg-color;
    color: $announcement-slider-txt-color;
    @if (lightness($announcement-slider-bg-color)>50) {
      border: 1px solid $announcement-slider-border-color;
    }
  }
  .announcement-grid-navigation {
    a i {
      color: $announcement-slider-txt-color;
    }
  }
  article {
    .meta-content {
      width: 200px;
      height: 285px;
      .date {
        padding-top: 100px;
        .day, .month {
          color: #ffffff;
          text-align: center;
          width: 75px;
          display: block;
          margin: auto;
        }
        .day {
          background: url("../img/icons/icon_calender.png") no-repeat;
          display: block;
          height: 75px;
          padding-top: 30px;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
}