/*
List Article Common Style
---------------------------------------------------------------*/
.post-wrapper.list-article {
  background-color: #f7f7f7;
  overflow: hidden;
  position: relative;
}

.post-wrapper.list-article .thumb-wrapper {
  float: left;
  z-index: 100;
}

@media (max-width: 479px) {
  .post-wrapper.list-article .thumb-wrapper {
    float: none;
  }
}

.post-wrapper.list-article .blog-content {
  padding: 20px 25px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.post-wrapper.list-article .blog-content p {
  margin-bottom: 20px;
}

.post-wrapper.list-article a.readmore {
  font-weight: 500;
  color: #999;
}

.post-wrapper.list-article .hover-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.56499, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.56499, 1);
}

.post-wrapper.list-article:hover .hover-overlay {
  width: 100%;
}

.post-wrapper.list-article:hover,
.post-wrapper.list-article:hover .entry-meta li a,
.post-wrapper.list-article:hover .entry-title a,
.post-wrapper.list-article:hover a.readmore {
  color: #fff;
}