@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin text-shadow($x: 0, $y: 0, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

@mixin threedeetext() {
  text-shadow:  0 1px 0 #999,
  0 2px 0 #888,
  0 3px 0 #777,
  0 4px 0 #666,
  0 5px 0 #555,
  0 6px 0 #444,
  0 7px 0 #333,
  0 8px 7px #001135;
}

@mixin text-hyphens() {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}