/* ----------------------------------------------------------------
Top mega menu
-----------------------------------------------------------------*/
.menuzord-menu ul.dropdown li a,
.menuzord-menu > li > .megamenu .megamenu-row li a {
  width: 100%;
  padding: $menu-dropdown-padding;
  font-size: 13px;
  color: #202020;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.03) !important;
}

.menuzord-menu ul.dropdown li > a::before,
.menuzord-menu > li > .megamenu .megamenu-row li > a::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #03a9f4;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menuzord-menu ul.dropdown li:hover > a::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a::before {
  width: 100%;
}

.menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu ul.dropdown li.active > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li.active > a {
  color: #03a9f4;
  background-color: #fafafa;
}

.menuzord-menu > li > .megamenu .megamenu-row li a {
  padding: 8px 20px;
}

.menuzord-menu ul.dropdown.dropdown-left {
  left: 0;
}

.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left {
  left: -100%
}

.menuzord-menu li .indicator {
  margin-left: $menu-icon-left-size;
}

.menuzord-menu li .indicator i {
  font-family: FontAwesome;
}

.menuzord-menu li ul.dropdown li .indicator {
  position: absolute;
  top: $menu-dropdown-icon-top-height;
  right: 10px;
  font-size: 15px
}

.menuzord-menu > li > .megamenu {
  width: 100%;
  padding: 20px;
  left: 0;
  position: absolute;
  display: none;
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, 0.03) !important;
  background: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.menuzord-menu > li > .megamenu.megamenu-half-width {
  width: 50%;
  left: auto
}

.menuzord-menu > li > .megamenu.megamenu-quarter-width {
  width: 25%;
  left: auto
}

.menuzord-menu > li > .megamenu .megamenu-row {
  width: 100%;
  margin-top: 15px
}

.menuzord-menu > li > .megamenu .megamenu-row:first-child {
  margin-top: 0
}

.menuzord-menu > li > .megamenu .megamenu-row:after,
.menuzord-menu > li > .megamenu .megamenu-row:before {
  display: table;
  content: "";
  line-height: 0
}

.menuzord-menu > li > .megamenu .megamenu-row:after {
  clear: both
}

.menuzord-menu > li > .megamenu .megamenu-row .col1,
.menuzord-menu > li > .megamenu .megamenu-row .col10,
.menuzord-menu > li > .megamenu .megamenu-row .col11,
.menuzord-menu > li > .megamenu .megamenu-row .col12,
.menuzord-menu > li > .megamenu .megamenu-row .col2,
.menuzord-menu > li > .megamenu .megamenu-row .col3,
.menuzord-menu > li > .megamenu .megamenu-row .col4,
.menuzord-menu > li > .megamenu .megamenu-row .col5,
.menuzord-menu > li > .megamenu .megamenu-row .col6,
.menuzord-menu > li > .megamenu .megamenu-row .col7,
.menuzord-menu > li > .megamenu .megamenu-row .col8,
.menuzord-menu > li > .megamenu .megamenu-row .col9 {
  display: block;
  min-height: 20px;
  float: left;
  margin-left: 3%
}

.menuzord-menu > li > .megamenu .megamenu-row [class*=col]:first-child {
  margin-left: 0
}

.menuzord-menu > li > .megamenu .megamenu-row .col1 {
  width: 5.583333333333%
}

.menuzord-menu > li > .megamenu .megamenu-row .col2 {
  width: 14.166666666666%
}

.menuzord-menu > li > .megamenu .megamenu-row .col3 {
  width: 22.75%
}

.menuzord-menu > li > .megamenu .megamenu-row .col4 {
  width: 31.333333333333%
}

.menuzord-menu > li > .megamenu .megamenu-row .col5 {
  width: 39.916666666667%
}

.menuzord-menu > li > .megamenu .megamenu-row .col6 {
  width: 48.5%
}

.menuzord-menu > li > .megamenu .megamenu-row .col7 {
  width: 57.083333333333%
}

.menuzord-menu > li > .megamenu .megamenu-row .col8 {
  width: 65.666666666667%
}

.menuzord-menu > li > .megamenu .megamenu-row .col9 {
  width: 74.25%
}

.menuzord-menu > li > .megamenu .megamenu-row .col10 {
  width: 82.833333333334%
}

.menuzord-menu > li > .megamenu .megamenu-row .col11 {
  width: 91.416666666667%
}

.menuzord-menu > li > .megamenu .megamenu-row .col12 {
  width: 100%
}

.menuzord .showhide {
  width: 30px;
  height: 46px;
  padding: 12px 0 0;
  display: none;
  float: right;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

.menuzord .showhide em {
  width: 20px;
  height: 3px;
  margin: 3.5px 0px 0;
  float: right;
  background: #777
}

.menuzord-menu {
  > li {
    > a > i {
      margin: 0 5px 0 0;
      font-size: 18px;
      float: left;
      line-height: 20px;
      font-family: "FontAwesome", sans-serif;
    }
    &.search {
      form {
        float: left;
        padding: 22px 16px 17px;
        input[type=text] {
          width: 160px;
          padding: 5px 10px;
          border: none;
          background: #f0f0f0;
          border-radius: 2px;
          outline: 0;
          -o-transition: width 1s ease-out;
          -moz-transition: width 1s ease-out;
          -webkit-transition: width 1s ease-out;
          transition: width 1s ease-out
        }
        &:hover input[type=text] {
          width: 160px
        }
      }
    }
  }
}

.menuzord-tabs {
  width: 100%;
  float: left
}

.menuzord-tabs-nav {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  > li > a {
    width: 100%;
    padding: 7px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #999;
    border: 1px solid rgba(0, 0, 0, 0.03);
    outline: 0
  }
  li {
    &.active a, &:hover a {
      background: #f0f0f0;
    }
  }
}

.menuzord-tabs-content {
  width: 80%;
  min-height: 30px;
  padding: 20px;
  float: right;
  display: none;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  &.active {
    display: block;
  }
}
