



/*------------------------------------------------------------------
Footer 3
-------------------------------------------------------------------*/

.footer-three .primary-footer {
  padding: 90px 0 70px;
}
.footer-three .secondary-footer {
  padding: 0 0 20px;
}
.footer-three .secondary-footer hr {
  margin-top: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-three .social-link {
  text-align: right;
}
.footer-three .social-link li a {
  color: #0379ae;
}
.footer-three .social-link li a:hover {
  color: #fff;
}

.footer-three .back-top {
  right: 50%;
  margin-right: -35px;
}

@media (max-width: 991px) {
  .copy-text {
    text-align: center;
    display: block;
  }
  .footer-three .social-link {
    margin-top: 15px;
    text-align: center;
  }
}

