/* ================= Color Presets ==================== */
.brand-color {
  color: $default-theme-color !important; /*theme primary color*/
}
.second-color {
  color: $default-reverse-color !important;
}
.second-bg {
  background-color: $default-reverse-color !important;
}
.compare-color {
  color: $default-compare-color !important;
}
.compare-bg {
  background-color: $default-compare-color !important;
}
.brand-color.darken-2 {
  color: darken($default-theme-color, 10%) !important;
}
.brand-bg {
  background-color: $default-theme-color !important; /*theme primary background color*/
}

.brand-bg.darken-2 {
  background-color: darken($default-theme-color, 10%) !important;
}

.brand-hover:hover {
  background-color: lighten($default-theme-color, 10%) !important; /*theme primary hover color*/
}


.green-bg {
  background-color: #71c44c !important;
}
.green-color {
  color: #71c44c !important;
}

.pink {
  background-color: #ed145b !important;
}
.white-bg {
  background-color: #fff !important;
}
.gray-bg {
  background-color: #f5f5f5!important;
}
.light-gray-bg {
  background-color: #f3f3f3 !important;
}
.light-pink-bg {
  background: #fff8f1 !important;
}

.dark-bg.darken-1 {
  background: #101010 !important;
}
.dark-bg {
  background: #202020 !important;
}
.dark-bg.lighten-1 {
  background-color: #1e262a !important;
}
.dark-bg.lighten-2 {
  background-color: #303b41 !important;
}
.dark-bg.lighten-3 {
  background-color: #2c2c2c !important;
}
.dark-bg.lighten-4 {
  background-color: #373a3d !important;
}

.border-top {
  border-top: 1px solid #eee;
}
.border-tb {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
