thead {
  color: #272829;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.table>thead>tr>th {
  padding: 12px 8px;
}
.table>thead>tr>th {
  border-bottom: 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th {
  color: #666;
  padding: 15px 8px;
  border-top: 1px solid #eee;
}