h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif!important;
  font-weight: 500;
  color: darken(grey, 20%);
  margin: 0 0 10px 0;
}

h1 {
  font-size: 40px;
  color: $default-heading-color;
}
h2 {
  font-size: 20px;
  color: $default-heading-color;
}
h3 {
  font-size: 18px;
  color: $default-heading-color;
}
h4 {
  font-size: 16px;
  color: $default-heading-color;
}
h5 {
  font-size: 14px;
  color: $default-heading-color;
}
h6 {
  font-size: 12px;
  color: $default-heading-color;
}

body {
  h2 {
    margin-top: 20px;
  }
  h2:first-child {
    margin-top: 0;
  }
}

p img {
  margin: 0;
}

p {
  margin: 0 0 10px;
  line-height: 24px;
}

hr {
  margin: 0;
}

$bolds : (
  bold-500 : 500,
  bold-700 : 700
);

@each $key, $value in $bolds {
  .#{$key} {
    font-weight: $value !important;
  }
}

@media screen and (min-width: 978px){
  .md-text-right {
    text-align: right !important;
  }
  .md-text-left {
    text-align: left !important;
  }
  .md-text-center {
    text-align: center !important;
  }
}

@media screen and (max-width: 768px){
  .xs-text-right {
    text-align: right !important;
  }
  .xs-text-left {
    text-align: left !important;
  }
  .xs-text-center {
    text-align: center !important;
  }
}

hr.break {
  position: relative;
  padding: 0;
  line-height: 0;
  height: 1px;
  margin: 0 0 10px 0;
  background: transparent;
  border: 1px solid transparent;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    bottom: -5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,ffffff+100 */
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(left, #d6d6d6 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d6d6d6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d6d6d6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

@media screen and (min-width: 978px){
  h2.no-background {
    position: relative;
    overflow: hidden;
    span {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      padding: 0 5%;

      &:before, &:after {
        content: '';
        display: block;
        width: 1000px;
        position: absolute;
        top: 50%;
        border-top: 2px solid lighten(grey, 40%);
      }

      &:before { right: 90%; }
      &:after { left: 90%; }
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}