
/*
Important Link Widget
------------------------------------------------ */
footer {
  .widget {
    h2 {
      color: $footer-title-color !important;
    }
  }
}
.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-left: 20px;
    position: relative;
    &:before {
      font-family: 'FontAwesome', sans-serif !important;
      content: "\f105";
      width: 20px;
      height: 15px;
      padding-top: 5px;
      top: $footer-link-line-icon-height;
      position: absolute;
      left: 7px;
      color: $footer-link-icon-color;
    }
    &:last-child {
      border-bottom: 0;
    }
    a {
      display: block;
      line-height: $footer-link-line-height;
      color: $footer-link-color;
      font-size: 13px;
      &:hover {
        color: $footer-link-hover;
      }
    }
  }
}