/*
Widget Search
--------------------------------------------------------------*/
.widget_search .search-form {
  position: relative;
}

.widget_search .search-form button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  height: 60px;
  width: 50px;
  background: transparent;
  border: 0;
}

/*
Common Input Style for Widget
--------------------------------------------------------------*/
.widget input[type=text],
.widget input[type=password],
.widget input[type=email],
.widget input[type=url],
.widget input[type=time],
.widget input[type=date],
.widget input[type=datetime-local],
.widget input[type=tel],
.widget input[type=number],
.widget input[type=search] {
  border: 1px solid #eee;
  height: 60px;
  padding: 6px 20px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}