/*TT Animate CSS*/
.tt-animate i {
  text-align         : center;
  overflow           : hidden;
  -webkit-transition : all 0.5s;
  -moz-transition    : all 0.5s;
  transition         : all 0.5s;
}

.tt-animate i::before {
  speak                       : none;
  display                     : block;
  -webkit-font-smoothing      : subpixel-antialiased !important;
  -webkit-backface-visibility : hidden;
  -moz-backface-visibility    : hidden;
  -ms-backface-visibility     : hidden;
}


/*Left To Right*/
.tt-animate.ltr i:hover::before {
  -webkit-animation : LeftToRight 0.3s forwards;
  -moz-animation    : LeftToRight 0.3s forwards;
  animation         : LeftToRight 0.3s forwards;
}

.tt-animate.ltr i:before {
  -webkit-animation : RightToLeft 0.3s forwards;
  -moz-animation    : RightToLeft 0.3s forwards;
  animation         : RightToLeft 0.3s forwards;
}


/*Right To Left*/
.tt-animate.btt i:hover::before {
  -webkit-animation : BottomToTop 0.3s forwards;
  -moz-animation    : BottomToTop 0.3s forwards;
  animation         : BottomToTop 0.3s forwards;
}

.tt-animate.btt i:before {
  -webkit-animation : TopToBottom 0.3s forwards;
  -moz-animation    : TopToBottom 0.3s forwards;
  animation         : TopToBottom 0.3s forwards;
}
