/* ================= Banner Background ==================== */
.bg-cover,
[class*='banner-'] {
  background-size: cover !important;
}

.banner-1 {
  background-image: url("assets/img/banner/banner-1.jpg");
}
.banner-2 {
  background-image: url("assets/img/banner/banner-2.jpg");
}
.banner-3 {
  background-image: url("assets/img/banner/banner-3.jpg");
}
.banner-4 {
  background-image: url("assets/img/banner/banner-4.jpg");
}
.banner-5 {
  background-image: url("assets/img/banner/banner-5.jpg");
}
.banner-6 {
  background-image: url("assets/img/banner/banner-6.jpg");
}
.banner-7 {
  background-image: url("assets/img/banner/banner-7.jpg");
}
.banner-8 {
  background-image: url("assets/img/banner/banner-8.jpg");
}
.banner-9 {
  background-image: url("assets/img/banner/banner-9.jpg");
}
.banner-10 {
  background-image: url("assets/img/banner/banner-10.jpg");
}
.banner-11 {
  background-image: url("assets/img/banner/banner-11.jpg");
}
.banner-12 {
  background-image: url("assets/img/banner/banner-12.jpg");
}
.banner-13 {
  background-image: url("assets/img/banner/banner-13.jpg");
}
.banner-14 {
  background-image: url("assets/img/banner/banner-14.jpg");
}
.banner-14.overlay::before  {
  background-color: rgba(246, 72, 63, 0.9);
}
.banner-15 {
  background-image: url("assets/img/banner/banner-15.jpg");
}
.banner-16 {
  background-image: url("assets/img/banner/banner-16.jpg");
}
.banner-17 {
  background-image: url("assets/img/banner/banner-17.jpg");
}
.banner-18 {
  background-image: url("assets/img/banner/banner-18.jpg");
}
.banner-19 {
  background-image: url("assets/img/banner/banner-19.jpg");
}
.banner-20 {
  background-image: url("assets/img/banner/banner-20.jpg");
}

@media screen and (max-width: 767px) {
  .banner-wrapper {
    margin-top: 45px;
  }
}

@media (min-width: 992px) {
  .bg-fixed {
    background-attachment: fixed;
  }
}