/* Customize Material Form style
/* ------------------------------------ */
.form-control {
  border-radius: 0;
}
.input-field {
  margin-top: 45px;
}
.input-field label {
  color: #999;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}
.input-field label.active {
  font-size: 12px;
}
