/* Link style
/* ------------------------------ */
a {
  color: #ed145b;
}
a,
a > * {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #03a9f4;
  outline: none;
  text-decoration: none;
}
