

/*------------------------------------------------------------------
Footer 2
-------------------------------------------------------------------*/

.footer-two .primary-footer {
  padding: 90px 0;
}
.footer-two .footer-logo img{
  margin-bottom: 30px;
}

.footer-two .back-top {
  top: -122px;
}

.footer-two .social-link li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
