
/*------------------------------------------------------------------
Footer 4
-------------------------------------------------------------------*/

.footer-four .social-link li+li {
  margin-left: 15px;
}

.footer-four .social-link li a {
  line-height: 14px;
}
.footer-four .social-link li a i{
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.footer-four .social-link li a i:hover {
  color: $default-reverse-color;
}

.footer-four hr {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.footer-four .footer-logo {
  margin: 45px 0 35px;
  img {
    height: 50px;
  }
}
.footer-intro p {
  margin: 0 auto 70px;
}

@media (min-width: 992px) {
  .footer-intro p {
    width: 60%;
  }
}

.footer-four .secondary-footer {
  padding: 18px 0;
}
.footer-four .secondary-footer ul {
  margin: 0;
}
.footer-four .secondary-footer ul li{
  display: inline-block;
  margin-right: 30px;
}
.footer-four .secondary-footer ul li:last-child{
  margin-right: 0;
}
.footer-four .secondary-footer ul li a{
  display: block;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-four .secondary-footer ul li a:hover {
  color: #81ddff;
}

.footer-four .back-top {
  top: -35px;
}

@media (max-width: 767px) {
  .footer-intro p {
    width: 100%;
  }
}

