


/*------------------------------------------------------------------
Footer 5
-------------------------------------------------------------------*/

.footer-five .back-top {
  top: -30px;
}

.footer-five .social-link li {
  margin: 0 10px;
}
.footer-five .social-link li a i{
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: #A6A6A6;
}
.footer-five .social-link li a i:hover {
  color: #fff;
  background: #03a9f4;
}


.footer-five .footer-logo h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
}
.footer-five h3 {
  font-weight: 700;
}

.footer-five address {
  margin: 0;
  line-height: 30px;
}

.footer-five .copy-text,
.footer-five .copy-text a {
  display: inline-block;
}
.footer-five .copy-text {
  color: #898989;
}
.footer-five .copy-text a {
  color: #03a9f4;
}

.footer-five .secondary-footer ul {
  margin: 0;
  text-align: right;
}
.footer-five .secondary-footer ul li {
  display: inline-block;
  margin-right: 30px;
}
.footer-five .secondary-footer ul li a {
  display: block;
  color: #898989;
  text-transform: capitalize;
}
.footer-five .secondary-footer ul li a:hover {
  color: #03a9f4;
}

@media screen and (max-width: 991px) {
  .footer-five .copy-text{
    display: block;
    margin-bottom: 10px;
  }

  .footer-five .copy-text,
  .footer-five .secondary-footer ul {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-five .copy-text{
    display: block;
    margin-bottom: 10px;
  }

  .footer-five .copy-text,
  .footer-five .secondary-footer ul {
    text-align: center;
  }
}